In [19]:
import pandas as pd
import json
#会产生大量数据错误
# with open('lianjia.json', 'r',encoding='utf-8') as f:
#     data = json.load(f)
item=[]
for line in open('lianjia.json','r',encoding='utf-8'):
    item.append(json.loads(line))
item[0]

{'title': '缇香漫城',
 'room': '2室1厅',
 'area': '85.18平米',
 'dealDate': '2016.10.05',
 'totalPrice': '112',
 'unitPrice': '13149'}

In [23]:
item[0]['title']

'缇香漫城'

In [27]:
from pandas import Series,DataFrame
s=Series(item[0])
s
d=DataFrame(item)
d

      title  room      area    dealDate totalPrice unitPrice
0      缇香漫城  2室1厅   85.18平米  2016.10.05        112     13149
1      缇香漫城  2室2厅      88平米  2016.09.24        130     14716
2      缇香漫城  1室0厅      34平米  2016.09.08         46     13295
3      缇香漫城  1室1厅      48平米  2016.05.02         63     13063
4      缇香漫城  2室1厅   86.72平米  2016.04.29        107     12247
...     ...   ...       ...         ...        ...       ...
28487  美域盛景  2室2厅   88.91平米  2018.03.31        104     11698
28488  美域盛景  2室1厅   93.26平米  2018.03.25         94     10080
28489  美域盛景  1室1厅   53.78平米  2018.03.25         34      6323
28490  美域盛景  2室2厅   86.73平米  2018.03.24         95     10954
28491  美域盛景  3室2厅  110.77平米  2018.03.22        110      9931

[28492 rows x 6 columns]