In [1]:
import pandas as pd
import json
from pandas import Series,DataFrame
import re
import datetime
from bs4 import BeautifulSoup
import requests
#寻找小区对应的区域和建造年份
def get_data(x):
    try:
        html=requests.get('https://dl.lianjia.com/xiaoqu/rs'+x)
        soup=BeautifulSoup(html.text,'lxml')
        s=soup.select('.info .title a')
        for i in range(0,len(s)):
            if s[i].string==x:
                district=soup.select('.info .positionInfo .district')[i].string
                bizcircle=soup.select('.info .positionInfo .bizcircle')[i].string
                temp=soup.select('.info .positionInfo')[i].get_text()
                nianfen=re.search('\d+',temp).group()
                return x+' '+district+' '+bizcircle+' '+ str(nianfen)
        else:
            return None
    except IndexError as e:
        print(x)

pd.set_option('display.max_rows',None)
# #设置显示全部列，不省略
pd.set_option('display.max_columns',None)

item=[]
for line in open('data/lianjia.json','r',encoding='utf-8'):
    item.append(json.loads(line))
    
df=DataFrame(item)
df.drop_duplicates(inplace=True)

In [2]:
getarea=lambda x: float(re.search(r"\d+(\.\d+)?",x).group())
df['area']=df['area'].apply(getarea)
tofloat=lambda x:float(x)
df['unitPrice']=df['unitPrice'].apply(tofloat)
df['totalPrice']=df['totalPrice'].apply(tofloat)
df['dealDate']=pd.to_datetime(df['dealDate'])
df['dealCycle']=df['dealCycle'].map(lambda x:int(re.search('\d+',x).group()))
df['guaPai']=df['guaPai'].apply(getarea)

In [3]:
#找出降价幅度大的房子
f=df[((df['guaPai']-df['totalPrice'])/df['guaPai']>0.05) & (df['dealDate'].map(lambda x:x.year)==2021)].sort_values(by=['title','dealDate'])
f['chazhi']=round((f['guaPai']-f['totalPrice'])/f['guaPai'],2)

In [4]:
#找出各个销售的销售量，目前看工人村单个销售卖的还真多
s=df.groupby(['seller'])[['seller']].count()
s.index.name='num'
s.sort_values(by=['seller'],ascending=False)
s.head()

           seller
num
SSC业务运营中心      15
丁一航             1
丁丽君             1
丁伟洧             2
丁余艳            14

In [5]:
#找出各小区的销售数量，先忽略时间
# xiaoqu=df.groupby(['title'])[['title']].count()
xiaoqu=df['title'].groupby([df['title'],df['dealDate'].apply(lambda x:x.year)]).count()
xiaoqu.index.names=['title','year']
result=list(set(list(map(lambda x:re.search('悦泰(\w+)?',x),xiaoqu.index.levels[0]))))
result.remove(None)
r=[i.group() for i in result]

In [6]:
s1=xiaoqu.loc[r[1]]
s2=xiaoqu.loc[r[0]]
s1.name=r[1]
s2.name=r[0]
print(s1,s2)

year
2016    12
2017     9
2018     8
2019    28
2020    23
2021     9
Name: 悦泰山里, dtype: int64 year
2016    2
2019    8
2020    6
2021    8
Name: 悦泰福里, dtype: int64

In [7]:
#找出某个小区的销售情况
print(get_data('第五郡五号地'))
df_wu=df[df['title'].apply(lambda x: '第五郡' in x and '公寓' not in x)]
df_wu=df_wu.sort_values(by='dealDate')
df_wu=df_wu.reset_index(drop=True)
func=lambda x:str((x.year)*100+(x.month))[0:4]+'-'+str((x.year)*100+(x.month))[4:]
df_wu['month']=df_wu['dealDate'].map(func)
df_wu['title'].groupby(df_wu['month']).count()
# df[df['title']=='金海花园西园'][['title']].count()

第五郡五号地 甘井子 第五郡 2006

month
2012-08     1
2016-03     1
2016-05     1
2016-07     2
2016-08     5
2016-10     4
2016-11     4
2016-12     5
2017-01     4
2017-02     2
2017-03     7
2017-04     9
2017-05     6
2017-06     2
2017-07     1
2017-08     2
2017-09     1
2017-11     1
2018-02     2
2018-03     4
2018-04     3
2018-06     2
2018-07     3
2018-09     4
2018-10     3
2018-11     2
2018-12     2
2019-01     3
2019-02     1
2019-03     5
2019-04     5
2019-05     9
2019-06     5
2019-07     4
2019-09     7
2019-11     2
2019-12     2
2020-01     2
2020-05     1
2020-06     3
2020-07     2
2020-08     2
2020-09     4
2020-10     1
2020-11     5
2020-12     4
2021-01     1
2021-02    10
2021-03     9
2021-04    13
2021-05     3
Name: title, dtype: int64

In [8]:
#找出小区每年均价，按月标本太少，不太准确
df_wu['unitPrice'].groupby(df_wu['dealDate'].map(lambda x:x.year)).describe()

,count,mean,std,min,25%,50%,75%,max
dealDate,,,,,,,,
2012,1.0,17582.000000,NaN,17582.0,17582.00,17582.0,17582.00,17582.0
2016,22.0,16771.954545,1558.896786,13386.0,16116.50,16548.0,17996.00,20269.0
2017,35.0,18080.971429,2388.703445,14289.0,16337.00,17945.0,19251.00,25301.0
2018,25.0,24570.880000,4437.352320,19848.0,22527.00,23932.0,25115.00,43112.0
2019,43.0,27422.162791,4978.692881,21204.0,24630.00,25115.0,29548.50,39754.0
2020,24.0,27065.250000,4878.021536,19075.0,24848.25,26146.0,27223.50,42129.0
2021,36.0,26731.000000,2596.831003,22107.0,25329.00,26753.5,28110.25,36192.0

In [9]:
#找出小区的成交周期
df_wu['dealCycle'].groupby(df_wu['dealDate'].apply(lambda x:x.year)).describe()

          count        mean         std  min     25%    50%     75%     max
dealDate
2012        1.0    1.000000         NaN  1.0    1.00    1.0    1.00     1.0
2016       22.0  154.636364  105.183081  6.0   75.00  133.0  228.00   419.0
2017       35.0  273.514286  182.970003  2.0  157.50  263.0  412.50   598.0
2018       25.0  105.720000  127.074624  6.0   25.00   81.0  140.00   605.0
2019       43.0  188.232558  213.301691  2.0   45.50  111.0  240.00  1055.0
2020       24.0  262.125000  227.411390  3.0  113.00  170.5  345.75   769.0
2021       36.0  195.805556  193.906726  1.0   59.75  134.5  264.50   689.0

In [10]:
#找出房子里只有一天成交周期的房子
df[(df['dealCycle'].map(lambda x:x==1)) & (df['dealDate'].apply(lambda x:x.year)==2021)].head()

,title,room,area,dealDate,totalPrice,unitPrice,dealCycle,guaPai,seller
76,中庚香海金鼎回迁楼,2室1厅,68.00,2021-04-28,36.0,5221.0,1,36.0,于丽华
77,中庚香海金鼎回迁楼,1室1厅,61.42,2021-03-04,21.0,3420.0,1,21.5,何新玉
961,高洁巷,2室1厅,51.10,2021-04-20,62.0,12134.0,1,62.5,刘彦秀
1566,MINI印象,1室0厅,50.80,2021-03-27,84.0,16536.0,1,86.0,周浩
2236,中海凤凰熙岸,2室2厅,73.80,2021-02-21,109.0,14770.0,1,110.0,付霞

In [11]:
#备用功能        
# list=[]
# for i in df['title'].drop_duplicates():
#     g=get_data(i)
#     if g is not None:
#         list.append(g)

# %run main.py
#df.to_json(path_or_buf='data/test.json',orient='index',force_ascii=False)
#检查area数据
# for i in range(0,len(df)):
#     result=df.iloc[i]
#     if re.search(r'\d+(\.\d+)?(平米)',result[2]) is None:
#         print(df.iloc[i])
#         df.drop([i])
# #检查挂牌数据
# for i in range(0,len(df)):
#     result=df.iloc[i]
#     if re.search('挂牌*',result[7]) is None:
#         print(str(i))
        # df.drop([i])

In [12]:
dd=df['unitPrice'].groupby(df['dealDate'].apply(lambda x:x.year)).describe()
dd

,count,mean,std,min,25%,50%,75%,max
dealDate,,,,,,,,
2007,1.0,6526.000000,NaN,6526.0,6526.00,6526.0,6526.00,6526.0
2009,2.0,6819.500000,2312.946281,5184.0,6001.75,6819.5,7637.25,8455.0
2010,5.0,12219.400000,2995.088863,9944.0,10399.00,10657.0,12934.00,17163.0
2011,322.0,13095.788820,3670.931543,7827.0,10679.50,12111.5,14573.25,34729.0
2012,1055.0,11745.568720,2992.670130,5073.0,9668.00,11056.0,12997.50,27738.0
2013,1299.0,12495.560431,3212.639419,6352.0,10129.50,11719.0,14298.50,27496.0
2014,899.0,12050.736374,3224.469592,5604.0,9676.00,11211.0,13969.50,27103.0
2015,1924.0,11358.847713,3551.560796,4266.0,8850.75,10392.0,13553.25,34846.0
2016,8094.0,10165.286261,4228.460212,3050.0,7881.50,9295.0,11397.50,128409.0
2017,13113.0,10920.553878,4419.610995,1834.0,8175.00,9959.0,12419.00,105216.0
2018,13216.0,12103.257340,4912.737824,3487.0,8761.00,11039.0,14032.25,94424.0
2019,16576.0,12889.723456,5203.031678,2008.0,9205.00,12071.0,14860.00,82069.0
2020,18745.0,13707.417498,5934.456713,1705.0,9605.00,12882.0,15879.00,65225.0
2021,11078.0,14941.156707,6113.775440,2.0,10440.00,14120.0,17425.75,61788.0

In [13]:
dd[dd.index>2015]

,count,mean,std,min,25%,50%,75%,max
dealDate,,,,,,,,
2016,8094.0,10165.286261,4228.460212,3050.0,7881.5,9295.0,11397.50,128409.0
2017,13113.0,10920.553878,4419.610995,1834.0,8175.0,9959.0,12419.00,105216.0
2018,13216.0,12103.257340,4912.737824,3487.0,8761.0,11039.0,14032.25,94424.0
2019,16576.0,12889.723456,5203.031678,2008.0,9205.0,12071.0,14860.00,82069.0
2020,18745.0,13707.417498,5934.456713,1705.0,9605.0,12882.0,15879.00,65225.0
2021,11078.0,14941.156707,6113.775440,2.0,10440.0,14120.0,17425.75,61788.0

In [19]:
from collections import OrderedDict
d = dict([('a', 1), ('c', 2), ('b', 3)])
d # dict的Key是无序的

{'a': 1, 'c': 2, 'b': 3}

In [20]:
od = OrderedDict([('a', 1), ('c', 2), ('b', 3)])
od # OrderedDict的Key是有序的

OrderedDict([('a', 1), ('c', 2), ('b', 3)])

In [21]:
data = '离离原上草，一岁一枯荣'.encode('gbk')

In [23]:
import chardet
chardet.detect(data)

{'encoding': 'GB2312', 'confidence': 0.7407407407407407, 'language': 'Chinese'}

In [25]:
natuals = itertools.count(1)
ns = itertools.takewhile(lambda x: x <= 10, natuals)
list(ns)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]