In [17]:
import pandas as pd
import json
from pandas import Series,DataFrame
import re
import datetime
from bs4 import BeautifulSoup
import requests
#寻找小区对应的区域和建造年份
def get_data(x):
    try:
        html=requests.get('https://dl.lianjia.com/xiaoqu/rs'+x)
        soup=BeautifulSoup(html.text,'lxml')
        s=soup.select('.info .title a')
        for i in range(0,len(s)):
            if s[i].string==x:
                district=soup.select('.info .positionInfo .district')[i].string
                bizcircle=soup.select('.info .positionInfo .bizcircle')[i].string
                temp=soup.select('.info .positionInfo')[i].get_text()
                nianfen=re.search('\d+',temp).group()
                return x+' '+district+' '+bizcircle+' '+ str(nianfen)
        else:
            return None
    except IndexError as e:
        print(x)

pd.set_option('display.max_rows',None)
# #设置显示全部列，不省略
pd.set_option('display.max_columns',None)

item=[]
for line in open('data/lianjia.json','r',encoding='utf-8'):
    item.append(json.loads(line))
    
df=DataFrame(item)
df.drop_duplicates(inplace=True)
#

In [18]:
getarea=lambda x: float(re.search(r"\d+(\.\d+)?",x).group())
df['area']=df['area'].apply(getarea)
tofloat=lambda x:float(x)
df['unitPrice']=df['unitPrice'].apply(tofloat)
df['totalPrice']=df['totalPrice'].apply(tofloat)
df['dealDate']=pd.to_datetime(df['dealDate'])
df['dealCycle']=df['dealCycle'].map(lambda x:int(re.search('\d+',x).group()))
df['guaPai']=df['guaPai'].apply(getarea)

In [19]:
#找出降价幅度大的房子
f=df[((df['guaPai']-df['totalPrice'])/df['guaPai']>0.05) & (df['dealDate'].map(lambda x:x.year)==2021)].sort_values(by=['title','dealDate'])
f['chazhi']=round((f['guaPai']-f['totalPrice'])/f['guaPai'],2)

In [20]:
#找出各个销售的销售量，目前看工人村单个销售卖的还真多
s=df.groupby(['seller'])[['seller']].count()
s.index.name='num'
s.sort_values(by=['seller'],ascending=False)
s.head()

           seller
num
SSC业务运营中心      17
丁一航             1
丁丽君             1
丁伟洧             2
丁余艳            14

In [21]:
#找出各小区的销售数量，先忽略时间
# xiaoqu=df.groupby(['title'])[['title']].count()
xiaoqu=df['title'].groupby([df['title'],df['dealDate'].apply(lambda x:x.year)]).count()
xiaoqu.index.names=['title','year']
result=list(set(list(map(lambda x:re.search('悦泰(\w+)?',x),xiaoqu.index.levels[0]))))
result.remove(None)
r=[i.group() for i in result]

In [22]:
s1=xiaoqu.loc[r[1]]
s2=xiaoqu.loc[r[0]]
s1.name=r[1]
s2.name=r[0]
print(s1,s2)

year
2016    12
2017     9
2018     8
2019    28
2020    23
2021     9
Name: 悦泰山里, dtype: int64 year
2016    2
2019    8
2020    6
2021    8
Name: 悦泰福里, dtype: int64

In [23]:
#找出某个小区的销售情况
print(get_data('第五郡五号地'))
df_wu=df[df['title'].apply(lambda x: '第五郡' in x and '公寓' not in x)]
df_wu=df_wu.sort_values(by='dealDate')
df_wu=df_wu.reset_index(drop=True)
func=lambda x:str((x.year)*100+(x.month))[0:4]+'-'+str((x.year)*100+(x.month))[4:]
df_wu['month']=df_wu['dealDate'].map(func)
df_wu['title'].groupby(df_wu['month']).count()
# df[df['title']=='金海花园西园'][['title']].count()

第五郡五号地 甘井子 第五郡 2006

month
2012-08     1
2015-12     1
2016-03     1
2016-05     1
2016-07     2
2016-08     6
2016-09     2
2016-10     6
2016-11     4
2016-12     5
2017-01     5
2017-02     6
2017-03     9
2017-04    11
2017-05     7
2017-06     2
2017-07     3
2017-08     5
2017-09     1
2017-11     2
2017-12     3
2018-01     1
2018-02     2
2018-03     4
2018-04     6
2018-05     1
2018-06     2
2018-07     5
2018-08     1
2018-09     5
2018-10     3
2018-11     2
2018-12     4
2019-01     3
2019-02     2
2019-03     6
2019-04     6
2019-05    10
2019-06     5
2019-07     6
2019-09     7
2019-11     5
2019-12     4
2020-01     3
2020-04     3
2020-05     3
2020-06     3
2020-07     4
2020-08     2
2020-09     4
2020-10     1
2020-11     5
2020-12     4
2021-01     2
2021-02    10
2021-03    11
2021-04    13
2021-05     5
Name: title, dtype: int64

In [24]:
#找出小区每年均价，按月标本太少，不太准确
df_wu['unitPrice'].groupby(df_wu['dealDate'].map(lambda x:x.year)).describe()

,count,mean,std,min,25%,50%,75%,max
dealDate,,,,,,,,
2012,1.0,17582.000000,NaN,17582.0,17582.00,17582.0,17582.00,17582.0
2015,1.0,24522.000000,NaN,24522.0,24522.00,24522.0,24522.00,24522.0
2016,27.0,17582.703704,2763.473634,13386.0,16190.00,17500.0,18279.50,28283.0
2017,54.0,19862.870370,4539.810802,14289.0,16939.00,18647.5,20932.00,36302.0
2018,36.0,25159.305556,4473.042920,19848.0,22522.75,24292.0,25636.00,43112.0
2019,54.0,27629.703704,5508.084438,20407.0,24503.75,25420.5,29598.50,46702.0
2020,32.0,28920.562500,6289.397489,19075.0,25262.75,26917.0,30312.25,46436.0
2021,41.0,27453.560976,4921.531098,21143.0,25320.00,26800.0,28270.00,50839.0

In [25]:
#找出小区的成交周期
df_wu['dealCycle'].groupby(df_wu['dealDate'].apply(lambda x:x.year)).describe()

          count        mean         std   min     25%    50%     75%     max
dealDate
2012        1.0    1.000000         NaN   1.0    1.00    1.0    1.00     1.0
2015        1.0   32.000000         NaN  32.0   32.00   32.0   32.00    32.0
2016       27.0  153.185185  103.315066   6.0   72.00  133.0  233.50   419.0
2017       54.0  277.500000  191.430144   1.0  102.50  270.5  435.50   617.0
2018       36.0  155.861111  148.745449   6.0   33.50  119.5  209.50   605.0
2019       54.0  222.555556  275.108669   2.0   50.00  132.0  268.25  1343.0
2020       32.0  282.656250  253.384523   3.0  112.25  174.0  415.25   886.0
2021       41.0  251.195122  297.797936   1.0   65.00  141.0  281.00  1481.0

In [26]:
#找出房子里只有一天成交周期的房子
df[(df['dealCycle'].map(lambda x:x==1)) & (df['dealDate'].apply(lambda x:x.year)==2021)].head()

,title,room,area,dealDate,totalPrice,unitPrice,dealCycle,guaPai,seller
76,中庚香海金鼎回迁楼,2室1厅,68.00,2021-04-28,36.0,5221.0,1,36.0,于丽华
77,中庚香海金鼎回迁楼,1室1厅,61.42,2021-03-04,21.0,3420.0,1,21.5,何新玉
961,高洁巷,2室1厅,51.10,2021-04-20,62.0,12134.0,1,62.5,刘彦秀
1566,MINI印象,1室0厅,50.80,2021-03-27,84.0,16536.0,1,86.0,周浩
2236,中海凤凰熙岸,2室2厅,73.80,2021-02-21,109.0,14770.0,1,110.0,付霞

In [27]:
#备用功能        
# list=[]
# for i in df['title'].drop_duplicates():
#     g=get_data(i)
#     if g is not None:
#         list.append(g)

# %run main.py
#df.to_json(path_or_buf='data/test.json',orient='index',force_ascii=False)
#检查area数据
# for i in range(0,len(df)):
#     result=df.iloc[i]
#     if re.search(r'\d+(\.\d+)?(平米)',result[2]) is None:
#         print(df.iloc[i])
#         df.drop([i])
# #检查挂牌数据
# for i in range(0,len(df)):
#     result=df.iloc[i]
#     if re.search('挂牌*',result[7]) is None:
#         print(str(i))
        # df.drop([i])

In [28]:
#根据已有数据算全部小区
dd=df['unitPrice'].groupby(df['dealDate'].apply(lambda x:x.year)).describe()
dd[dd.index>2015]

,count,mean,std,min,25%,50%,75%,max
dealDate,,,,,,,,
2016,8352.0,10151.648827,4199.337385,3050.0,7880.5,9289.0,11364.75,128409.0
2017,13558.0,10934.017333,4429.796580,1834.0,8187.0,9959.0,12418.50,105216.0
2018,13644.0,12118.601730,4939.022594,3487.0,8770.0,11038.5,14032.25,94424.0
2019,17124.0,12918.877891,5224.095472,2008.0,9225.0,12087.0,14884.00,82069.0
2020,19493.0,13730.577695,5996.160904,1705.0,9584.0,12888.0,15890.00,65225.0
2021,11516.0,14950.965353,6138.918913,2.0,10427.5,14112.0,17453.25,61788.0

In [29]:
df['title'].drop_duplicates().count()

1060